@charset "UTF-8";


header, header > nav > ul {
    flex-flow: column nowrap;


}

header > h1 {
    flex-basis: 50px;
}

header > nav > ul  a {
    width: 90vw;
    
}

body { 
    width: 95vw;
}


span#burguer {
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 90vw;

}

span#burguer:hover {
    background-color: white;
    color:black
}

nav {
        display: none;
    }

